/*
Project: Kuleana Compass
Authors: @ @ @ @ @
Purpose: Congressional App Challenge
--
Initialization Date: 8/13/25 HST
--
Known Bugs:
    None
*/

/* -- // Global Vars */
:root {
--mainFont: 'GilSansMtMedium';
--boldFont: 'GilSansMtHeavy';
--backupFont: 'sans-serif';
}

/* -- // Custom Fonts */
    @font-face {
        font-family: 'GilSansMtHeavy';
        src: url('../assets/fonts/GillSans-Heavy/GillSans-Heavy.ttf') format('truetype');
        src: url('../assets/fonts/GillSans-Heavy/GillSans-Heavy.woff') format('woff');
        src: url('../assets/fonts/GillSans-Heavy/GillSans-Heavy.woff2') format('woff2');
    }

    @font-face {
        font-family: 'GilSansMtMedium';
        src: url('../assets/fonts/GillSans-Medium/GillSans-Medium.ttf') format('truetype');
        src: url('../assets/fonts/GillSans-Medium/GillSans-Medium.woff') format('woff');
        src: url('../assets/fonts/GillSans-Medium/GillSans-Medium.woff2') format('woff2');
    }

    @font-face {
        font-family: "GillSansMT";
        src: url("https://db.onlinewebfonts.com/t/8408af8fdb91756ebdf3b4bb481bb3c5.eot");
        src: url("https://db.onlinewebfonts.com/t/8408af8fdb91756ebdf3b4bb481bb3c5.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/8408af8fdb91756ebdf3b4bb481bb3c5.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/8408af8fdb91756ebdf3b4bb481bb3c5.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/8408af8fdb91756ebdf3b4bb481bb3c5.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/8408af8fdb91756ebdf3b4bb481bb3c5.svg#Gill Sans MT Pro Grk W04 Bold")format("svg");
    }

/* -- // Core Elements */
body {
    font-family: var(--mainFont), var(--backupFont);
    margin: 0;
}

header {
    background-color: black;
    color: rgba(255, 233, 152, 0.704);
}

main {
}

footer {

}

/* -- // Custom Elements */
/* // Header */
.hIsland {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.hBranding {
    width: 50%;
    justify-items: left;
}

#logo {
    padding-top: 10px;
    width: auto;
    height: 80px;
}

/* -- */

.hUser {
    width: 50%;
    justify-content: right;
    height: 100px;
    display: flex;
    padding-top: 5px;
    padding-bottom: 0px;
}

#userInfo {
    flex-basis: auto;
    justify-items: right;
    padding-right: 15px;
    flex-shrink: 1;
    min-width: 0;
}

#username {
    margin-bottom: 0;
    overflow-wrap: break-word;
    letter-spacing: 2px;
}

#points {
    margin-top: 0;
    overflow-wrap: break-word;
    letter-spacing: 0px;
}

#icon {
  max-width: 100%; 
  height: 70px;   
  display: block;  
  border-radius: 200px;
  margin-top: 10px;
}

/* */

/* // Footer */
.fIsland {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
}

.fButton {
    background-color: rgb(195, 166, 88);
    height: 100%;
    width: 33%;
    margin: 1px;
}

/* // Body */

